body{
    overflow: hidden;

}

.layoutBody{
    height: 100vh;
    width: 100vw;
}

.layoutLeft{
    background-color: #9772d9;
}
.layoutRight{
    overflow-y: scroll;
    background-image: linear-gradient(to bottom, #e0ecfd, #f8e7e4);
}

.cards{
    width: 30%;
    height: 48%;
    box-shadow: 3px 5px 5px 0px #e0b3fb;
}
.addCardContainer{
    bottom: 15%;
    right: 7%;
}

.addCard{
    width: 30rem;
    height: auto;
    box-shadow: 3px 5px 5px 0px #e0b3fb;
    
}

.editContainer{
    position: absolute;
    top: 15%;
}

.editCard{
    width: 30rem;
    height: auto;
    box-shadow: 3px 5px 5px 0px #e0b3fb;
}




.addTask{
    height: 5rem;
    width: 5rem;
    background-color: #9772d9;
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    border-radius: 50%;
    border: none;
    z-index: 999;
}

.cardButtons{
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.buttons{
    width: 3rem;
    height: 3rem;
    
}

.card-subtitle { 
    color: gray
}



.logoIcon{
    height: 5rem;
}

.logoText{ 
    font-size: 4rem;
    font-weight: bold;
}

.barElements{ 
    margin-top: 10rem;
    font-size: 1rem; 
    z-index: 999; 
    height: 35%;
}

.Elements{ 
    padding-left: 5rem;
}



